# Baseball Savant Data Scraping Example

## Example Database Creation

This example creates a small sample of the full database saved to "baseball_savant.db", a portable SQLite database.

In [5]:
import sqlite3
import pandas as pd
import savantscraper

# Example for two years and two teams
savantscraper.database_import('baseball_savant',
                              (2020, 2021),
                              teams=['STL', 'COL', 'NYY', 'CHC'])

Seasons:   0%|          | 0/2 [00:00<?, ?it/s]















Teams: 100%|██████████| 4/4 [00:55<00:00, 13.91s/it]
Seasons:  50%|█████     | 1/2 [00:55<00:55, 55.63s/it]















Teams: 100%|██████████| 4/4 [01:44<00:00, 26.07s/it]
Seasons: 100%|██████████| 2/2 [02:39<00:00, 79.97s/it]

## Example Query

This example connects to the database and creates a pandas dataframe from a simple query.

In [6]:
# Connect to the database
conn = sqlite3.connect('baseball_savant.db')

# Query the database and load into a pandas dataframe
df = pd.read_sql_query("select player_name, vx0 from statcast limit 5;", conn)

# Close connection when finished
conn.close()

df

      player_name       vx0
0  Gomber, Austin -5.434573
1  Gomber, Austin -5.527432
2  Gomber, Austin -3.800123
3  Gomber, Austin -5.458216
4  Gomber, Austin -5.358478